*{margin: 0;padding: 0;box-sizing: border-box;}
a{text-decoration: none;}
img{border: none;}
li{list-style: none;}
.clear{clear: both;}
.container{max-width: 25rem;margin: 0 2px;padding-bottom: 100px;border-width: 0px 1.5px;border-color: #16B5EB;border-style: solid;}
.endline{display: none;position: fixed;bottom: 0;padding: 1em 0;width: 24.6rem;background: #16B5EB;z-index: 999;}
body{background: #Ffff;max-width: 25rem;margin: 0 auto;}
b{font-size: 16px!important;}
.wx{font-weight: bold;color: #F00;}
.top{text-align: center;font-size: 20px;line-height: 40px;background-color: #16B5EB;color:#fff;}
.top_2{text-align: center;font-size: 12px;line-height: 23px;margin-bottom: 10px;border:1px solid #16B5EB;}
.wdbox .wdcon{padding-bottom: 1.4rem;}
.wdbox .wdcon .box{padding-top: 1.6rem;}
.wdbox .wdcon .box .left{width: 20%; float: left;}
.wdbox .wdcon .box .left img{width: 80%; margin: 0 auto; display: block;}
.wdbox .wdcon .box .right{width: 80%; float: left; padding: 0 0.5rem;}
.wdbox .wdcon .box .right .con{min-width: 4rem; background-color: #fff; border: 1px solid #16B5EB; /* border-radius: 0.5rem; */ padding: 0.5rem; font-size: 0.8rem; line-height: 1.5rem; position: relative; float: left;}
.wdbox .wdcon .box .right .con .sjx{position: absolute; width: 0; height: 0; border-left: 0.3rem solid transparent; border-right: 0.3rem solid transparent; border-top: 0.6rem solid #16B5EB; left: -0.6rem; top: 0.5rem; transform: rotate(-272deg);}
.wdbox .wdcon .hzbox{padding-top: 1rem;}
.wdbox .wdcon .hzbox .left{width: 20%; float: right;}
.wdbox .wdcon .hzbox .left img{width: 80%; margin: 0 auto; display: block;}
.wdbox .wdcon .hzbox .right{width: 80%; float: right; padding: 0 0.5rem;}
.wdbox .wdcon .hzbox .right .con{min-width: 3rem; border-radius: 0.5rem; padding: 0.5rem; font-size: 0.8rem; line-height: 1.5rem; position: relative; background: #16B5EB; color:#FFF; float: right; text-align: center;}
.wdbox .wdcon .hzbox .right .con .sjx{position: absolute; width: 0; height: 0; border-left: 0.3rem solid transparent; border-right: 0.4rem solid transparent; border-top: 0.7rem solid #16B5EB; right: -0.3rem; top: 0.5rem; transform: rotate(139deg);}
.wdfixbom{z-index: 1000; position: fixed; left: 50%; bottom:0; width: 24rem; margin-left: -12rem; background: #fff; /*padding:10px 0px; border-top: 1px solid #dcdcdc; height: 3rem; */ box-sizing: border-box;}
.wdfixbom .btnbox{float: left; padding: 0 0.4rem;}
.wdfixbom .btnbox button{outline:none;display: block; height: 2.5rem; border: 1px solid #16B5EB ; margin: 0.2rem 4px; background: #16B5EB; border-radius: 0.4rem; cursor: pointer; width: 96%; font-size: 0.8rem; color:#fff;}
.wdfixbom .btnbox button:hover{border-color:#16B5EB; background-color:#16B5EB;}
.wdfixbom .w100{width: 100%;}
.wdfixbom .w50{width: 50%;}
.wdfixbom .w30{width: 33%;}
.box img,.hzbox img{border-radius:50%;}
.disabled{pointer-events: none;}